h3 {
    font-size: 30px !important;
    font-style: comic-sans;

}
.btn-success :hover {
background-color: red;
}
canvas {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes example {
from { box-shadow: 1px 1px 38px aqua;}
to { box-shadow: 1px 1px 38px red;}
}
